body {
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:monospace;
}

#game {
    width:600px;
    height: 400px;
    background-color: #111;
    position:relative;
    border: 4px solid white;
}

#text-box {
    position:absolute;
    bottom: 0;
    width:100%;
    background-color: antiquewhite;
    color:black;
    padding:20px;
    box-sizing: border-box;
    border-top:4px solid black;
}

#text {
    margin:0;
    font-size:18px;
}

#oak-sprite {
    position:absolute;
    bottom:140px;
    left:50%;
    transform: translateX(-50%);
    width: 160px;
    image-rendering:pixelated;body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: monospace;
}

#game {
    width: 600px;
    height: 400px;
    background-color: black; 
    position: relative;
    border: 6px solid white; 
    overflow: hidden;
}

#oak-sprite {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;   /*antes 180px */
    image-rendering: pixelated;
    z-index: 1;
}


#text-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 110px;
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid black; 
    border-radius: 8px;      
    z-index: 2;
}

#text {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}
}

/*#game::after{
    content: "";
    position:absolute;
    bottom:135px;
    left:50px;
    transform: translateX(-50%);
    width: 100px;
    height:20px;
    background: rgba(0,0,0,0.3);
    border-radius:50%;
    z-index:0;
}
//